.formMain {
}

.formValues {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background);
  border-radius: 1rem;
}

.formValues label {
  color: var(--primary-text);
  font-size: 1.5rem;
  margin-right: 2rem;
}

.name {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.name input {
  width: 15rem;
}

.genre {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.genre select {
  width: 15rem;
  margin-left: 3.5rem;
}

.review {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.review textarea {
  margin-left: 3.1rem;
  resize: none;
  height: 5rem;
  width: 15rem;
}

.rating {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.rating select {
  margin-left: 3.2rem;
  width: 3rem;
}
.rating select option {
  text-align: center;
}

.link {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.link input {
  width: 15rem;
}

.reviewer {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.reviewer input {
  width: 12rem;
}

.btnDiv {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.createBtn {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: var(--primary-text);
  background-color: var(--secondary-backgroud);
  border-radius: 0.7rem;
  border: none;
  transition: 0.5s;
}

.createBtn:hover {
  background-color: var(--primary-text);
  color: var(--primary-background);
}

input:invalid {
  color: var(--secondary-backgroud);
  /* turn to red as long as pattern do not match */
}
input:invalid + b:before {
  content: "Invalid Link"; /* add text untill patterns matches */
}
input:invalid + b + [type="submit"] {
  display: none; /* hide input submit untill pattern matches */
}

.popup {
  color: var(--primary-text);
  position: absolute;
  top: 51rem;
  left: 83rem;
}
