.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: var(--primary-text);
  font-size: 3rem;
}

.container p {
  color: var(--primary-text);
  font-size: 2rem;
}
