.ProfileMain {
  display: flex;
  width: 100vw;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiary-background);
}

.profileheader {
  color: var(--primary-text);
  font-size: 3rem;
}
