.container {
  display: flex;
  margin: 2rem;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.cardContent {
  font-size: 110%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgb(117, 114, 104);
  margin: 1rem;
  color: var(--primary-text);
  transition: 5s;
  width: 85rem;
  max-width: 100%;
  border-radius: 10px;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.headercontent {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80rem;
}

.reviewContent {
  width: 80rem;
}

.reviewItem {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-top: 1px solid #ffff;
  text-align: center;
  padding-bottom: 2rem;
}

.TitleMain {
  display: flex;
  padding: 0.5rem;
  font-size: 135%;
  width: 100%;
  font-weight: bold;
}

.secondaryTitle {
  display: flex;
  font-size: 110%;
  font-weight: bold;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem;
}

.cardContent p {
  font-size: 120%;
  margin: 1rem;
  padding: 0.5rem;
  width: 100%;
}
.spotifyLink {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.spotifyLink a {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 125%;
  padding: 1rem;
  transition: 0.2s ease;
}

.spotifyIcon {
  transition: 0.2s ease;
}

.spotifyLink:hover > .spotifyIcon {
  filter: hue-rotate(-125deg);
}

.spotifyLink:hover {
  color: var(--secondary-background);
}
