.container {
  display: flex;
}
.heroImage {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/MusicHero2.jpg");
  min-height: 1010px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroImage h1 {
  color: var(--primary-background);
  font-size: 5rem;
}

.heroImage p {
  color: var(--primary-background);
  font-size: 2rem;
  max-width: 50rem;
}
.Soundbox {
  font-weight: 700;
  color: var(--tertiary-background);
}

.downIcon {
  color: var(--primary-text);
  animation-name: fading;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes fading {
  from {
    font-size: 10rem;
    opacity: 80%;
  }
  to {
    font-size: 10rem;
    opacity: -100%;
    transform: translateY(50px);
  }
  from {
    font-size: 10rem;
    opacity: 100%;
  }
  to {
    font-size: 10rem;
    opacity: -00%;
  }
}
