.maincontainer {
  min-height: 75vh;
  background: rgb(71, 70, 71);
  background: linear-gradient(
    90deg,
    rgba(71, 70, 71, 1) 0%,
    rgba(11, 0, 20, 1) 50%,
    rgba(71, 70, 71, 1) 100%
  );
}
