.container {
  margin: 0;
  display: flex;
  height: 10vh;
  background-color: var(--primary-background);
  color: var(--primary-text);
  flex-direction: row;
}
.headercontent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headercontent h1 {
  font-size: 4.5rem;
  margin-left: 1rem;
  color: var(--secondary-backgroud);
}

.links {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  transform: scale(125%);
  color: var(--primary-text);
}

.links button {
  color: var(--primary-text);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 2rem;
}
.icons {
  width: 1rem !important;
  height: 1rem !important;
}

.link {
  transition: 0.3s;
}

.link:hover {
  color: var(--secondary-background);
  cursor: pointer;
}
